@charset "utf-8";
/* CSS Document */
.main_subject {
    width: 100%;
    height: 100%;
    padding: 20px 20px 30px;
    overflow-y: auto;
    overflow-x: hidden;
}
.subject_1{
	margin-bottom: 20px;
}
.subject_1>div{
	display: inline-block;
	width: 49.8%;
	height: 360px;
	padding-right: 20px;
	border-radius: 4px;
}
.subject_1>div:last-child{
	padding: 20px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	background: #ffffff;
	vertical-align: top;
}
.tztg_bzgf{
	height: 360px;
	padding: 20px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	border-radius: 4px;
	background: #ffffff;
}
.tztg_bzgf ul li{
	padding: 9px 0;
	border-bottom: 1px dotted #ccc;
}
.tztg_bzgf ul li::before{
	display: inline-block;
	content: "";
	margin: 0 8px 4px 0;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: 4px 4px 0px -1px rgba(19,145,136,0.4);
	background: #139188;
}
.tztg_bzgf ul li:last-child{
	padding: 9px 0;
	border-top: 1px solid #ccc;
	border-bottom: none;
}
.tztg_bzgf ul li a:first-child{
	display: inline-block;
	width: 80%;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tztg_bzgf ul li a:hover{
	color: #139188;
	text-decoration: underline;
}
.tztg_bzgf ul li span{
	float: right;
}
.tztg_bzgf ul li:last-child a{
	float: right;
	color: #139188;
	cursor: pointer;
}
.tztg_bzgf .tztg_zhli::before,.tztg_bzgf .bzgf_zhli::before{
	display: none;
}
.bzgf_content{
	display: none;
}
.zyjc_img{
	padding-top: 10px;
	text-align: center;
}
.zyjc_img img{
	height: 280px;
}
.title_1{
	font-size: 16px;
	font-weight: bold;
	color: #139188;
}
















